$blanco: #e4e4e4;
$negro: #222222;
$azul: #045757;
$azul-oscuro: rgba(4, 67, 67, 0.15);

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}
::-ms-scrollbar {
  display: none;
}
::-moz-scrollbar {
  display: none;
}

body {
  background: $negro;
  .web_app_container {
    color: $blanco;
    background: $negro;
    font-family: "Roboto Condensed", sans-serif;
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-rows: 10vh 1fr;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
    .scramble_bar {
      background: $azul-oscuro;
      grid-row: 1/2;
      grid-column: 1/6;
      align-self: end;
      font-size: 2.5rem;
      padding: 1rem 10rem;
    }
    .lista_tiempos {
      background: $azul-oscuro;
      grid-row: 2/3;
      grid-column: 1/2;
      margin-bottom: 25px;
      height: 320px;
      overflow-y: scroll;
      .tabla_de_tiempos {
        tr {
          th {
            padding: 1rem;
            padding-bottom: 0.35rem;
          }
          td {
            border: 1px solid $negro;
            padding: 1rem;
            a:link,
            a:visited,
            a:hover,
            a:active {
              text-decoration: none;
              color: $azul;
              margin-left: 1px;
            }
          }
          .delete {
            border: none;
            padding: 0;
          }
        }
      }
    }
    .main_timer {
      display: flex;
      align-items: center;
      flex-direction: column;
      grid-row: 2/3;
      grid-column: 1/6;
      font-size: 13rem;
      .main_a05 {
        font-size: 5rem;
      }
    }
  }
}

@media screen and (max-width: 1170px) {
  body {
    .web_app_container {
      .scramble_bar {
        font-size: 1.5rem;
        padding: 0.5rem 5rem;
      }
      .lista_tiempos {
        font-size: 0.8rem;
        margin-bottom: 25px;
        height: 250px;
        .tabla_de_tiempos {
          tr {
            th {
              padding: 0.5rem;
            }
            td {
              padding: 0.75rem;
            }
          }
        }
      }
      .main_timer {
        font-size: 8rem;
        .main_a05 {
          font-size: 3rem;
        }
      }
    }
  }
}
@media screen and (max-width: 710px) {
  body {
    .web_app_container {
      .scramble_bar {
        font-size: 1.25rem;
        padding: 0.25rem 2rem;
      }
      .lista_tiempos {
        margin-bottom: 25px;
        height: 177.5px;
        font-size: 0.58rem;
        .tabla_de_tiempos {
          tr {
            th {
              padding: 0.25rem;
            }
            td {
              padding: 0.5rem;
            }
          }
        }
      }
      .main_timer {
        font-size: 5.4rem;
        .main_a05 {
          font-size: 2rem;
        }
      }
    }
  }
}
@media screen and (max-width: 490px) {
  body {
    .web_app_container {
      .lista_tiempos {
        display: none;
      }
    }
  }
}
